@import "tailwindcss";

@theme {
  --color-primary: #3155e7;
  --color-primary-hover: #2544c7;

  --color-border: #e5e7ef;

  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-text-muted: #8a93a5;

}